@font-face {
	font-family: Open;
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: Open Bold;
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}

body {
	margin: 0;
	padding: 0;
	transition: all 0.3s;
}
header {
	margin-top: 200px;
	margin-left: 10%;
	margin-right: 10%;
}

.dark {
	color: #000;
	background: #fff;
}

.dark.active {
	background: #000;
}

.lgt {
	color: #000;
}

.lgt.active {
	color: #fff;
}

.light {
	color: #fff;
	background: #000;
}

.light a, .light h3, .dark.active .icon {
	color: #fff;
}

.light.active {
	color: #000;
	background: #fff;
}

.light.active a, .light.active h3, .dark .icon {
	color: #000;
}

.light img {
	filter: invert(1);
}

.light.active img {
	filter: invert(0);
}

.light .burguer .icon {
	color: #fff;
}

.light.active .burguer .icon {
	color: #000;
}

nav {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	height: 60px;
	border-radius: 8px;
	box-sizing: initial;
	z-index: 3;
}

nav .logo {
	position: absolute;
	top: 0;
	left:30px;
	bottom: 0;
	height: 100%;
}

nav ul {
	position: absolute;
	top: 0;
	right: 35px;
	bottom: 0;
	list-style-type: none;
}

nav ul li {
	list-style: none;
	float: left;
	padding-left: 60px;
	font-family: Open;
}

nav ul li a.item {
	top: 2px;
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}
nav ul li a.item:hover {
	opacity: 0.6;
}

nav ul li a.item .feather {
	width: 20px;
	height: 20px;
	padding-right: 15px;
}

nav ul li .night {
	margin-top: -5px;
	position: relative;
	display: flex;
	text-decoration: none;
	padding: 4px;
	border-radius: 8px;
	width: 28px;
	height: 28px;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

nav ul li .night:active {
	margin-top: -2px;
	margin-right: 3.4px;
	width: 24px;
	height: 24px;
	opacity: 0.7;
}
nav ul li .night:active .feather {
	width: 18px;
	height: 18px;
}

.toggle {
	cursor: pointer;
}

.toggle .icon {
	position: absolute;
	display: none;
}

.toggle .icon .feather {
	padding-top: 4px;
	width: 22px;
	height: 22px;
}

.toggle .icon.open, .toggle.active  .icon.close {
	display: block;
}

.toggle .icon.close, .toggle.active .icon.open {
	display: none;
}

.mb {
	display: none;
}

.burguer .icon {
	position: absolute;
}

.burguer .icon .feather {
	padding-top: 4px;
	width: 22px;
	height: 22px;
}

.burguer .icon.open, .burguer.active  .icon.close {
	display: block;
}

.burguer .icon.close, .burguer.active .icon.open {
	display: none;
}

.Responsive-M {
  transition: all .2s;
  visibility: visible;
  opacity: 1;
  position: fixed;
	width: 100%;
	height: 100%;
  top: 0;
  left: 0;
	z-index: 2;
	background: #000;
	display: none;
}

.Responsive-M ul {
	position: absolute;
	top: 0;
	bottom: 0;
	list-style-type: none;
	width: 80%;
	margin-top: 200px;
}

.Responsive-M ul li {
	top: 0;
	bottom: 0;
	left: 0;
	float: left;
	display: inline-block;
	font-family: Open;
	width: 100%;
	text-align: center;
	justify-content: center;
	padding-bottom: 50px;
}

.Responsive-M ul li a {
	text-decoration: none;
}

.Responsive-M ul li a.item .feather {
	padding-right: 15px;
	width: 22px;
	height: 22px;
}

nav ul li .b-menu {
	position: relative;
	display: flex;
	text-decoration: none;
	border-radius: 8px;
	margin-right: -5px;
	width: 28px;
	height: 28px;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.prueba {
	width: 100%;
	height: 450px;
}

.works-title {
	width: 100%;
	text-align: center;
	font-family: 'Open';

}

.oculto {
  visibility: none;
  opacity: 0;
}

.list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.itemList {
  height: 40vh;
  flex-grow: 1;
}

.itemList:last-child {
  // There's no science in using "10" here. In all my testing, this delivered the best results.
  flex-grow: 10;
}

.itemList img {
  max-height: 100%;
  min-width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  object-fit: cover;
	object-position: center;
  vertical-align: bottom;
}

@media only screen and (max-width: 1000px) {
	.dv {
		display: none;
	}
	.mb {
		display: block;
	}
	.Responsive-M {
		display: block;
	}
}


@media only screen and (max-width: 720px) {
	header {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  li {
		width: 100%;
    height: 80vh;
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
		width: 100%;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
