@font-face {
	font-family: Open;
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: Open Bold;
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	transition: all 0.3s;
}

header {
	margin: 0;
	padding: 0;
}

.presentation {
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-image: url(../images/bg.png);
	background-size: cover;
	background-position: center;
}

.presentation .title {
	padding-top: 250px;
	padding-bottom: 80px;
	cursor: default;
}

.presentation .scroll-down {
	padding-bottom: 45px;
}

.presentation .scroll-down .feather {
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.presentation .title h1 {
	font-family: Open;
}

.presentation .title a {
	color: #555;
	font-family: Open;
	font-weight: 100;
	cursor: default;
}

.dark {
	background: rgba(255, 255, 255, 1);
}

.dark h3, .dark .feather-hash {
	color: #000;
}

.dark.active h3, .dark.active .feather-hash {
	color: #fff;
}

.dark.active {
	background: rgba(0, 0, 0, 1);
}

.light {
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
}

.light a, .dark.active .icon {
	color: #fff;
}

.light.active {
	color: #000;
	background: rgba(255, 255, 255, 0.6);
}

.light.active a, .dark .icon {
	color: #000;
}

.light img.logo {
	filter: invert(1);
}

.light.active img.logo {
	filter: invert(0);
}

.light .burguer .icon {
	color: #fff;
}

.light.active .burguer .icon {
	color: #000;
}

nav {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	height: 60px;
	border-radius: 8px;
	box-sizing: initial;
	z-index: 3;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
	.Responsive-M {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

nav .logo {
	position: absolute;
	top: 0;
	left:30px;
	bottom: 0;
	width: auto;
	height: 100%;
}

nav .symbol {
	position: absolute;
	top: 0;
	left:30px;
	bottom: 0;
	height: 100%;
	filter: brightness(1);
	animation: brightness 6s ease-in-out infinite;
}

nav ul {
	position: absolute;
	top: 0;
	right: 35px;
	bottom: 0;
	list-style-type: none;
}

nav ul li {
	list-style: none;
	float: left;
	padding-left: 60px;
	font-family: Open;
}

nav ul li a.item {
	top: 2px;
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}
nav ul li a.item:hover {
	opacity: 0.6;
}

nav ul li a.item .feather {
	width: 20px;
	height: 20px;
	padding-right: 15px;
}

nav ul li .night {
	margin-top: -5px;
	position: relative;
	display: flex;
	text-decoration: none;
	padding: 4px;
	border-radius: 8px;
	width: 28px;
	height: 28px;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

nav ul li .night:active {
	margin-top: -2px;
	margin-right: 3.4px;
	width: 24px;
	height: 24px;
	opacity: 0.7;
}
nav ul li .night:active .feather {
	width: 18px;
	height: 18px;
}

.toggle .icon {
	position: absolute;
	display: none;
}

.toggle .icon .feather {
	padding-top: 4px;
	width: 22px;
	height: 22px;
}

.toggle .icon.open, .toggle.active  .icon.close {
	display: block;
}

.toggle .icon.close, .toggle.active .icon.open {
	display: none;
}

.mb {
	display: none;
}

.burguer .icon {
	position: absolute;
}

.burguer .icon .feather {
	padding-top: 4px;
	width: 22px;
	height: 22px;
}

.burguer .icon.open, .burguer.active  .icon.close {
	display: block;
}

.burguer .icon.close, .burguer.active .icon.open {
	display: none;
}

.Responsive-M {
  transition: all .2s;
  visibility: visible;
  opacity: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.85);
}

.Responsive-M ul {
	position: absolute;
	top: 0;
	bottom: 0;
	list-style-type: none;
	margin-top: 200px;
	left: 25%;
	right: 30%;
}

.Responsive-M ul li {
	top: 0;
	bottom: 0;
	left: 0;
	float: left;
	display: inline-block;
	font-family: Open;
	width: 100%;
	text-align: center;
	justify-content: center;
	padding-bottom: 50px;
	margin-left: -10px;
}

.Responsive-M ul li a {
	text-decoration: none;
}

.Responsive-M ul li a.item .feather {
	padding-right: 15px;
	width: 22px;
	height: 22px;
}

.Responsive-M ul li .night {
	position: absolute;
	display: flex;
	text-decoration: none;
	padding: 4px;
	border-radius: 8px;
	width: 28px;
	height: 28px;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.oculto {
  visibility: hidden;
  opacity: 0;
}

.night2 {
	width: 100%;
	margin-top: 80px;
	padding: 5px;
	border-radius: 8px;
	transition: all 0.3s;
}

.toggle2 .icon.open, .toggle2.active  .icon.close {
	display: block;
}

.toggle2 .icon.close, .toggle2.active .icon.open {
	display: none;
}

.works {
	margin: 0;
	padding-top: 40px;
	padding-bottom: 80px;
	width: 100%;
}

.works-title {
	margin: 0;
	padding: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	font-family: Open;
	margin-top: 40px;
	background-color: rgba(255, 0, 0, 0) !important;
}

.list {
	margin: 0;
	padding-left: 15%;
	padding-right: 15%;
  display: flex;
  flex-wrap: wrap;
	list-style: none;
}

.itemlist {
  height: 40vh;
  flex-grow: 1;
}

.container {
	width: 100%;
	height: 100%;
  position: relative;
}

.infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.infoi {
  z-index: 10;
}

.itemlist img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
	transition: all 0.3s;
}

.itemlist img:hover {
  filter: brightness(0.5);
	transform: scale(1.02);
}

@media only screen and (max-width: 980px) {
	.dv {
		display: none;
	}
	.list {
		padding: 0;
		display: grid;
	}
	.itemlist {
		margin: 0;
		width: 100%;
		height: auto;
	}
	.itemlist img {
		width: 100%;
	}
	.mb {
		display: block;
	}
	.presentation .title h1 {
		font-size: 26px;
	}
	.works {
		padding: 0;
	}

	.works-title {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 970px) {
	.Responsive-M {
		display: none;
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes brightness {
	0% {
		filter: hue-rotate(0);
	}
	25% {
		filter: hue-rotate(360deg);
	}
	50% {
		filter: hue-rotate(0);
	}
	75% {
		filter: hue-rotate(-360deg);
	}
	100% {
		filter: hue-rotate(0);
	}
}
